@model List<Task4v2.Models.ExtProductModel>

@{
    ViewBag.Title = "ExtProduct List";
}

<h2>ExtProduct List</h2>

<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
        <th scope="col">Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Delete", "DeleteExtProduct",
                        new { id = item.Id },
                        new
                        {
                            onclick = "return confirm('Are you sure you want to delete this user?');",
                            @class = "delete-button"
                        })
            </td>
            <td>
                @Html.ActionLink("Edit", "EditExtProduct",
             new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsExtProduct",
                           new { id = item.Id })
            </td>
        </tr>
    }
</table>